<!DOCTYPE HTML>
<html>
<head>
    <title>Introspect by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>

<body>
    <div class="main-page">
        <!-- Header -->

        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="fa fa-cube"></i>La3bni<b>Koora</b></a>
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/" id="MyNav">Home</a></li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Graphic Design</a></li>
                            <li><a href="#">Digital Marketing</a></li>
                        </ul>
                    </li>

                    <li><a href="#footer">Contact</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
                <form class="navbar-form form-inline">
                    <div class="input-group search-box">
                        <input onfocus="this.select();" id="search" style="color:black; font-weight:bolder" class="form-control" placeholder="Search by Name">
                        <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a></li>
                    <li><a href="#" class="messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle user-action">
                            @*<img src="https://www.tutorialrepublic.com/examples/images/avatar/2.jpg" class="avatar" alt="Avatar">*@
                            <i class="fa fa-user" aria-hidden="true"></i>Paula Wilson <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user-o"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-calendar-o"></i> Calendar</a></li>
                            <li><a href="#"><i class="fa fa-sliders"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/"><i class="material-icons">&#xE8AC;</i> Logout</a></li>
                        </ul>
                    </li>
                </ul>

                @*<div class="navbar-nav ml-auto">
                        <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
                        <a href="#" class="nav-item nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a></a>
                        <div class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="/examples/images/avatar/2.jpg" class="avatar" alt="Avatar"> Paula Wilson <b class="caret"></b></a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
                                <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
                                <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
                            </div>
                        </div>
                    </div>*@
            </div>
        </nav>

        <!-- #region Old  and Simple Nav Bar -->
        @*<header id="header">
                <div class="inner">
                    <a href="index.html" class="logo">introspect</a>
                    <nav id="nav">
                        <a href="index.html">Home</a>
                        <a href="generic.html">Generic</a>
                        <a href="elements.html">Elements</a>
                    </nav>
                </div>
            </header>
            <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>*@

        <!-- #endregion -->

        @RenderBody()

        <!-- #region Sections
            -->
        <!-- One -->
        <!--<section id="one">
            <div class="inner">
                <header>
                    <h2>Magna Etiam Lorem</h2>
                </header>
                <p>
                    Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu,
                    erisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante.
                </p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </div>
        </section>-->
        <!-- Two -->
        <!--<section id="two">
            <div class="inner">
                <article>
                    <div class="content">
                        <header>
                            <h3>Pellentesque adipis</h3>
                        </header>
                        <div class="image fit">
                            <img src="images/pic01.jpg" alt="" />
                        </div>
                        <p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
                            <h3>Morbi interdum mol</h3>
                        </header>
                        <div class="image fit">
                            <img src="images/pic02.jpg" alt="" />
                        </div>
                        <p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
                    </div>
                </article>
            </div>
        </section>-->
        <!-- Three -->
        <!--<section id="three">
            <div class="inner">
                <article>
                    <div class="content">
                        <span class="icon fa-laptop"></span>
                        <header>
                            <h3>Tempus Feugiat</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna lorem ullamcorper laoreet, lectus arcu.</p>
                        <ul class="actions">
                            <li><a href="#" class="button alt">Learn More</a></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <div class="content">
                        <span class="icon fa-diamond"></span>
                        <header>
                            <h3>Aliquam Nulla</h3>
                        </header>
                        <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
                        <ul class="actions">
                            <li><a href="#" class="button alt">Learn More</a></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <div class="content">
                        <span class="icon fa-laptop"></span>
                        <header>
                            <h3>Sed Magna</h3>
                        </header>
                        <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
                        <ul class="actions">
                            <li><a href="#" class="button alt">Learn More</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>-->
        <!-- Three -->
        <!--<section id="three">
            <div class="inner">
                <article>
                    <div class="content">
                        <span class="icon fa-laptop"></span>
                        <header>
                            <h3>Tempus Feugiat</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna lorem ullamcorper laoreet, lectus arcu.</p>
                        <ul class="actions">
                            <li><a href="#" class="button alt">Learn More</a></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <div class="content">
                        <span class="icon fa-diamond"></span>
                        <header>
                            <h3>Aliquam Nulla</h3>
                        </header>
                        <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
                        <ul class="actions">
                            <li><a href="#" class="button alt">Learn More</a></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <div class="content">
                        <span class="icon fa-laptop"></span>
                        <header>
                            <h3>Sed Magna</h3>
                        </header>
                        <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
                        <ul class="actions">
                            <li><a href="#" class="button alt">Learn More</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>-->
        <!-- #endregion -->
        <!-- #region Old Get In touch -->
        @*@using La3bni.UI
            @model Email
             #region Get In Touch Section
            <section id="four">
                    <div class="inner">
                        <header>
                            <h2>Get in Touch</h2>
                        </header>

                        <form method="post" asp-action="GetInTouch" asp-controller="Home">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="field half">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="field half">
                                <label asp-for="UserEmail"></label>
                                <input asp-for="UserEmail" />
                                <span asp-validation-for="UserEmail" class="text-danger"></span>
                            </div>
                            <div class="field">
                                <label asp-for="Message"></label>
                                <textarea asp-for="Message" rows="3"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" class="alt" /></li>
                            </ul>
                        </form>
                    </div>
                </section><section id="four">
                <div class="inner">
                    <header>
                        <h2></h2>
                    </header>

                    <form method="post" asp-action="GetInTouch" asp-controller="Home">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="field half">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="field half">
                            <label asp-for="UserEmail"></label>
                            <input asp-for="UserEmail" />
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                        <div class="field">
                            <label asp-for="Message"></label>
                            <textarea asp-for="Message" rows="3"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="alt" /></li>
                        </ul>
                    </form>
                </div>
            </section>*@

        <!-- #endregion -->
        @*@model FeedBack

            <footer id="footer">
                <div class="container">
                    <section class="links">
                        <div class="row">
                            <section class="3u 6u(medium) 12u$(small)">
                                <h3>About Us</h3>
                                <ul class="unstyled">
                                    <li>We are proud to bring you the</li>
                                    <li>most professional entertainment</li>
                                    <li>website made by five developers</li>
                                    <li>who are students in ITI, our</li>
                                    <li>website is easy to use.</li>
                                </ul>
                            </section>
                            <section class="3u 6u$(medium) 12u$(small)">
                                <h3>Culpa quia, nesciunt</h3>
                                <ul class="unstyled">
                                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                    <li><a href="#">Reiciendis dicta laboriosam enim</a></li>
                                    <li><a href="#">Corporis, non aut rerum</a></li>
                                    <li><a href="#">Laboriosam nulla voluptas, harum</a></li>
                                    <li><a href="#">Facere eligendi, inventore dolor</a></li>
                                </ul>
                            </section>

                            <section class="3u 6u(medium) 12u$(small)">
                                <h3>Developers</h3>
                                <ul class="unstyled">
                                    <li><a href="#">Hagar Gad</a></li>
                                    <li><a href="#">Islam Ramadan</a></li>
                                    <li><a href="#">Khaled Gomaa</a></li>
                                    <li><a href="#">Mohamed Shawky</a></li>
                                    <li><a href="#">Nada AlShazly</a></li>
                                </ul>
                            </section>
                            <section class="3u$ 6u$(medium) 12u$(small)">
                                <h3>Contact Us</h3>
                                <form method="post" asp-action="GetInTouch" asp-controller="Home">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="field half">
                                        <input asp-for="Name" placeholder="Name" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="field half">
                                        <input asp-for="Email" placeholder="Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="field">
                                        <textarea asp-for="Message" cols="4" rows="2" placeholder="Message"></textarea>
                                        <span asp-validation-for="Message" class="text-danger"></span>
                                    </div>
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" class="alt" /></li>
                                    </ul>
                                </form>
                            </section>
                        </div>
                    </section>
                    <div class="row">
                        <div class="8u 12u$(medium)">
                            <ul class="copyright">
                                <li>&copy; Untitled. All rights reserved.</li>
                            </ul>
                        </div>
                        <div class="4u$ 12u$(medium)">
                            <ul class="icons">
                                <li>
                                    <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                                </li>
                                <li>
                                    <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                                </li>
                                <li>
                                    <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                                </li>
                                <li>
                                    <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>*@

        <!-- Scripts -->
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/skel.min.js"></script>
        <script src="~/assets/js/util.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/assets/js/jquery-ui.min.js"></script>
        <script src="~/assets/js/main.js"></script>
        <script src="~/assets/js/searchbox.js"></script>
    </div>
</body>
</html>