@model Models.Playground

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Playground</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select asp-for="City" class="form-control"></select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StadiumArea" class="control-label"></label>
                <input asp-for="StadiumArea" class="form-control" />
                <span asp-validation-for="StadiumArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfPlayers" class="control-label"></label>
                <input asp-for="NumOfPlayers" class="form-control" />
                <span asp-validation-for="NumOfPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmPrice" class="control-label"></label>
                <input asp-for="AmPrice" class="form-control" />
                <span asp-validation-for="AmPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PmPrice" class="control-label"></label>
                <input asp-for="PmPrice" class="form-control" />
                <span asp-validation-for="PmPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Services" class="control-label"></label>
                <input asp-for="Services" class="form-control" />
                <span asp-validation-for="Services" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaygroundStatus" class="control-label"></label>
                <select asp-for="PlaygroundStatus" class="form-control"></select>
                <span asp-validation-for="PlaygroundStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsOffered" class="control-label"></label>
                <input asp-for="IsOffered" class="form-control" />
                <span asp-validation-for="IsOffered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>