@{
    Layout = null;
}

@section Styles {
    <link rel="stylesheet" href="~/assets/css/login.css" />
    <script src="~/assets/js/login.js"></script>
}
<link rel="stylesheet" href="~/assets/css/login.css" />
<script src="~/assets/js/login.js"></script>

@model Models.LogIN
@{
    ViewBag.Title = "Login";
}
<div class="login-box">
    <h2>Login</h2>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login" enctype="multipart/form-data">
                <div class="user-box">
                    <div class="form-group">

                        <input asp-for="Email" />
                        <label asp-for="Email"> Email or Username</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <br />
                <br />

                <div class="user-box">
                    <div class="form-group">
                        <input asp-for="Password" />
                        <label>Password</label>

                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <br />
                <br />
                <div class="user-box">
                    <label for="remeber"> Remember Me </label>
                    <input type="checkbox" id="remeber" name="rememberMe">
                </div>

                <div class="Linky">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>

                    <input type="submit" value="Login" id="submitt" />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>